.Button {
    width: 30px;
    height: 30px;
    border-width: 4px;
    border-style: solid;
    border-top-color: white;
    border-left-color: white;
    border-right-color: #7b7b7b;
    border-bottom-color: #7b7b7b;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
  }